:root {
    --blue: rgb(66, 166, 226);
    --green: rgb(166, 226, 66);
    --pink: rgb(226, 66, 166);
    --orange: rgb(226, 136, 66);
    --blueprint: rgb(96, 136, 166);
    --darkblue: rgb(6, 56, 116);
    --paper: #fff4eb;
    --box: 0 5px 30px 0.1px #cccccc;
}

body {
    margin: auto;
    background-color: var(--paper);
}

header {
    position: fixed;
    width: 100%;
    box-shadow: var(--box);
    z-index: 1;

}

.custom-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    color: white;
    height: 8em;
    padding: 4em;
}

.navbar-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

main {
    /* visibility: hidden; */
    background-color: var(--paper);
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.parallax {
    background-image: url('assets/pexels-kindelmedia-7054787.jpg');
    height: 900px;
    /* Adjust as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    position: absolute;
    top: 200px;
    left: 200px;
}

.icon-img {
    height: 3em;
}

footer {
    visibility: hidden;
    margin: auto;
    padding: 35px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer,
a {
    padding: 25px;
    border: 3px solid black;
}