:root {
    --blue: rgb(66, 166, 226);
    --green: rgb(166, 226, 66);
    --pink: rgb(226, 66, 166);
    --orange: rgb(226, 136, 66);
    --blueprint: rgb(96, 136, 166);
    --darkblue: rgb(6, 56, 116);
    --paper: #fff4ebd3;
    --box: 0 5px 30px 0.4px #6e6e6e;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: var(--box);
    z-index: 2;

}

.custom-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    color: white;
    height: 8em;
    padding: 4em;
}

.navbar-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

main {
    background-color: var(--paper);
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.parallax {
    background-image: url('assets/pexels-kindelmedia-7054787.jpg');
    height: 900px;
    /* Adjust as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    position: absolute;
    top: 200px;
    left: 200px;
}

.icon-img {
    height: 3em;
}

.process {
    text-align: center;
    margin: 4rem;
    padding: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.testimonial {
    text-align: center;
    margin: 4rem;
    padding: 4rem;
    font-family: 'Able', sans-serif;
}

.carousel-item {
    height: 50vh;
}

.carousel-caption {
    background-color: rgb(66, 166, 226, 0.5);
}

#circle-shape-example .curve {
    width: 33%;
    height: auto;
    min-width: 150px;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.about-me {
    padding-bottom: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

footer {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer,
a {
    padding: 25px;
    font-size:larger;
}