:root {
    --blue: rgb(66, 166, 220);
    --darkblue: #063970;
    --paper: #f7efe8;
    --green: #75eb98;
    --box: 0 5px 30px 0.1px #cccccc;
}

* {
    background-color: var(--paper);
    margin: auto;
}

header {
    margin: auto;
    background-color: var(--blue);
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7em;
    box-shadow: var(--box);
    border-right: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    border-left: 3px solid var(--darkblue);
    border-bottom: 3px solid var(--darkblue);
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
}

.p {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    border-right: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
}

#blue {
    color: var(--blue);
}

#cyan {
    color: var(--darkblue);
}

#green {
    color: var(--green);
}

footer {
    margin: auto;
    padding: 35px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer,
a {
    padding: 25px;
    border: 3px solid black;
}